.contLista {
  padding: 15px;
  margin-top: 80px;
  justify-content: center;
  // display: inline-flex;
  // flex-direction: column;

  .listaLibros {
    display: inline-flex;
    flex-direction: column;

    .contLibro {
      border: 1px transparent;
      padding: 5px;
      text-decoration: none;
    }
  }
}
